<html>
    <head>
        <title>Colectiva Amautas Huarmis</title>
    </head>
    <body>
        <div>
            <h1>OBJETIVOS</H1>
                <h2>Generales</h2>
                    <p><em>Visibilizar el rol de las mujeres en la Ciencia</em> </p>
        <p><em>Generar otros estereotipos para las niñas santiagueñas</em></p>
                <h3>Específicos</h3>
                    <p>Desarrollar actividades de divulgación científica que permitan el empoderamiento femenino</p>
        <div/>
        <div>
            <h1><a href="">Arriba</a></h1>
        </div>
                        
    </body>
</html>
